* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(16, 164, 105);
  text-decoration: underline;
}

.App {
  text-align: center;
  padding: 20px;
}

nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
}

.grid {
  padding: 0 150px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-item {
  padding: 40px;
  border: 1px solid rgb(16, 164, 105);
  color: rgb(16, 164, 105);
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
  color: rgb(16, 164, 105);
}

p {
  font-weight: 600;
  font-size: 20px;
}
